$wine: #b20101;
$green: #367d61;
$gray: #a29f9f;

$cac: 'cac';

$clrs: ('wine' : $wine, 'green' : $green, 'gray' : $gray);

@each $color-class, $color in $clrs
{
  .#{$color-class}
  {
    &-clr
    {
      color: #{$color};
    }
    &-bg-clr
    {
      background-color: #{$color};
    }
    &-bd-clr
    {
      border-color: #{$color};
    }
  }
}

@mixin main-nav-activate
{
  color: #000;
  text-shadow: 0 0 4px rgba(255, 255, 255, .9);
}

.main-nav
{
  a
  {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  ul
  {
    li
    { position: relative;
      &.active
      {
        & > a
        {
          @include main-nav-activate
        }
      }
      &:hover
      {
        & > a
        {
          @include main-nav-activate
        }
        & > ul
        {
          display: block;
        }
      }
      ul
      {
        display: none;
        position: absolute;
        left: 5px;
        top: 60px;
        background-color: rgba(0, 0, 0, .7);
        z-index: 50;
        min-width: 200px;

        li
        {
          width: auto;

          a
          {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
          }
        }
      }
    }
  }

}

.carousel-static-tint
{
  background-color: rgba(0, 0, 0, .4);
}

.sec-nav
{
  background-color: transparentize($gray, .2);
  li
  {
    a
    {
      color: #fff;
      font-weight: 600;
      text-align: center;

      &:hover
      {
        color: $wine;
      }
    }
    &.active
    {
      a
      {
        color: $wine;
      }
    }
  }
}

.text-board
{
  h4
  {
    color: $wine;
  }
  p
  {
    color: $green;
  }

  &.h-stripe
  {
    &::before, &::after
    {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: calc(50% - 21px);
      background-color: $green;
      height: 2px;
      width: 10%;
    }
    &::after
    {
      left: unset;
      right: 0;
    }
  }

}

.news-items
{
  .news-item
  {
    overflow: hidden;
    .news-banner-image
    {}
    .news-story
    {
      max-height: 150px;
      position: relative;
      .headline
      {}
      .brief
      {}
      .news-date
      {
        color: $gray;
        position: absolute;
        font-weight: 500;
        left: 20px;
        bottom: 0;
        z-index: 4;
      }
      &::before
      {
        content: 'More... ';
        text-align: right;
        color: #000;
        font-weight: 500;
        padding-top: 3rem;
        padding-right: 20px;
        display: block;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background-color: #fff;
        /* Permalink - use to edit and share this gradient: htt/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+64 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
      }
    }
  }
}

.council-members
{ &>div{
  display: flex;
  flex-wrap:wrap ;
}
  .council-member
  {
    .person-image
    {
    }
    .person-info
    {
      //display: none;
      top: calc(110% - (20% + 30px));
      color: #fff;
      background-color: transparentize(#000, .4);
      transition: all .3s ease;
      .person-name
      {
      }
      .person-bio
      {
        font-weight: 500;
      }
    }

    &:hover
    {
      & > .person-info
      {
        top: 0;
      }
    }
  }
}